@model PagedList.IPagedList<RX.WXMember.Models.ShiftRecord>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroundCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefundQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefundAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumAmt)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.OpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroundCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefundQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefundAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumAmt)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.OpTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, p => Url.Action("index", new { page = p }))